/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f9fafb;
  color: #555;
  font-family: "Sora", "Arial", sans-serif;
  font-weight: 300;

  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
  max-width: 1920px;
  margin: 0 auto;
}

section {
  padding: 2rem 0;
}

.box {
  padding: 1%;
  background-color: #a3f2e0;
}

h1 {
  color: #328378;
  font-weight: 600;
  font-size: 250%;
}

@font-face {
  font-family: "Sora";
  src: ;
}

.sup {
    display: flex;
}


.supporter {
  display: flex;
  justify-content: center;
  background-color: #f0fcf9;
  border:solid #5acbb7;
  margin-right: 2.5rem;
    margin: 0rem 2rem;
}


h3 {
  text-align: center;
}
.questions {
  background-color: #f0fcf9;
}

.logo {
  width: 372.91px;
  height: 43.82px;
}

.footer-nav {
  background-color: #78e4cf;
}

.icon {
  height: 2rem;
  width: auto;
  text-align: center;
}

/* ----------------------------------------------- */
/* Section Questions */
/* ----------------------------------------------- */

details[open] summary ` * {
  aimation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
   {
    opacity: 1;
  }
}
details summary: :-webkit-deails-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: solid #d1d5db;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  list-style: none;
}

details summary:after {
  content: "\203A";
  color: #48ad9c;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary::after {
  transform: rotate(90deg);
  font-size: 2rem;
}

details summary {
  outline: 0;
}

details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.photo {
    padding: 1rem;
    
}

.image {
    width: 25rem;
    height: auto;
}

.right-end {
    float: right;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #78E4CF !important;
    border-color: #78E4CF !important;
    color: #214441;
}

.photo-logo {
    width: 20rem;
    height: auto;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
    
}

h3:after {
    display: block;
    height: 0.25rem;
    background-color: #5ACBB7;
    content: " ";
    width: 5rem;
    margin: 0 auto;
    margin-top: 1rem;
    
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #2D6963 !important;
    border-color: #2D6963 !important;
    
}
.space {
    margin-right: 1rem;
}
