<footer class="container-fluid">
    <div class="container py-2">
      <nav id="footerNavBar" class="navbar navbar-expand justify-content-between align-items-center" aria-label="Secondary">
          <a aria-label="Cultivation Space icon" class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img class="img-fluid" src="{{ .Site.BaseURL }}/img/icon.svg" alt="Cultivation Space icon">
          </a>

          <div id="footerNav" class="collapse navbar-collapse flex-grow-0">
            <ul class="navbar-nav">
              {{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
              {{- range .Site.Menus.main -}}
              <li class="nav-item ms-0 ms-lg-4">
                <a class="nav-link text-dark {{ if eq ($firstUrlElement|lower) (.URL|lower) }}active{{end}}" {{ if eq
                  ($firstUrlElement|lower) (.URL|lower) }}aria-current="page" {{end}} href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              </li>
              {{ end }}
              <li class="nav-item ms-0 ms-lg-4">
                  <a class="nav-link text-dark {{ if eq ($firstUrlElement|lower) (.Permalink|lower) }}active{{end}}" {{ if eq
                      ($firstUrlElement|lower) (.Permalink|lower) }}aria-current="page" {{end}} href="/imprint">Imprint</a>
              </li>
            </ul>
          </div>
        </nav>             
    </div>
</footer>
{{ partial "javascript.html" . }}